@font-face {
    font-family: secondfont;
    src: url("./fonts/Onvan[@fontsclub].ttf");
}
@font-face {
    font-family: thinyekan;
    src: url("./fonts/yekan\ bakh\ en\ 04\ regular.ttf");
}
@font-face {
    font-family: boldyekan;
    src: url("./fonts/yekan\ bakh\ en\ 06\ bold.ttf");
}

:root{
 --maincolor:#474eff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: boldyekan;
}
.container{
    width: 1274.67px;
    height: 4834px;
}

header{
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerlogosvg{
    margin-left: 5px;
    position: relative;
    top: 9px;
}

.digititle{
    font-size: 20px;
    color: #474eff;
}

.entertitle{
font-family: thinyekan;
}

.loginButton{
    background: var(--maincolor);
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    margin-right: 8px;
    text-decoration: none;
    font-family: thinyekan;
}

.secondheader{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    flex-direction: column;
}

.welcomeToSite{
    color: var(--maincolor);
}

.aboutText{
    font-family: thinyekan;
    font-weight: 200;
    margin-top: 20px;
}

.fantasyShape{
    position: relative;
    bottom: 156px;
    left: 240px;
}

.menuSection{
    display: flex;
    justify-content: center;
}

.menu{
    list-style-type: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 620px;
    padding: 7px;

}

.menuSection{
    position: relative;
    bottom: 30px;
}

.menuItem{
    display: inline-block;
    padding: 8px 16px;
    border-radius: 5px;
    font-family: thinyekan;

}
.menuItem:hover{
    background-color: var(--maincolor);
    color: white;
}